---
layout: page
title: SHOP
permalink: /shop/
lang: fr
---


  <div class="wrapper centered-wrapper">
    <h2 class="subtitle">Albums</h2>
    {% for article in site.data.shop.albums %}
    <div class="shop-article">
      <img class="shop-picture" src="/assets/pictures/{{article.picture}}">
        {% if article.price %}
        <div>
          <a href="" class="shop-link" target="_blank">
            {{ article.name }}
            {% if article.name != "Vinyle" %}
            (cd) 
            {% endif %}
            - {{ article.price }}&euro;</a>
        </div>
        {% endif %}
        {% if article.demat-link %}
        <div>
            <a href="{{ article.demat-link }}" class="shop-link" target="_blank">{{ article.name }} (Digital)</a>
        </div> 
        {% endif %}
    </div>
    {% endfor %}

  </div>

  <div class="wrapper centered-wrapper">
    <h2 class="subtitle">EP</h2>
    {% for article in site.data.shop.ep %}
    <div class="shop-article">
      <img class="shop-picture" src="/assets/pictures/{{article.picture}}">
        {% if article.price %}
        <div>
          <a href="" class="shop-link" target="_blank">{{ article.name }} (cd) - {{ article.price }}&euro;</a>
        </div>
        {% endif %}
        {% if article.demat-link %}
        <div>
            <a href="{{ article.demat-link }}" class="shop-link" target="_blank">{{ article.name }} (Digital)</a>
        </div> 
        {% endif %}
    </div>
    {% endfor %}

  </div>

  <div class="wrapper centered-wrapper">
    <h2 class="subtitle">Merchandising</h2>
    {% for article in site.data.shop.merch %}
    <div class="shop-article">
      <img class="shop-picture" src="/assets/pictures/{{article.picture}}">
        {% if article.price %}
        <div>
          <a href="" class="shop-link" target="_blank">{{ article.name }} - {{ article.price }}&euro;</a>
        </div>
        {% endif %}
    </div>
    {% endfor %}

  </div>
