---
layout: page
title: SHOP
permalink: /shop/
lang: fr
---


  <div class="wrapper centered-wrapper">
    <h2 class="subtitle">Albums</h2>
    {% for article in site.data.shop.albums %}
    <div class="shop-article">
      <img class="shop-picture" src="/assets/pictures/{{article.picture}}">
        {% if article.price %}
        <div>
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
          
            <!-- Identify your business so that you can collect the payments. -->
            <input type="hidden" name="business" value="yann@cottonbellys.com">
          
            <!-- Specify a Buy Now button. -->
            <input type="hidden" name="cmd" value="_xclick">
          
            <!-- Specify details about the item that buyers will purchase. -->
            <input type="hidden" name="item_name" value="{{ article.name }}">
            <input type="hidden" name="amount" value="{{ article.price }}">
            <input type="hidden" name="currency_code" value="EUR">
          
            <!-- Display the payment button. -->
            <input class="shop-link-button"
                   type="submit" 
                   name="submit" 
                   border="0"
                   value="{{ article.name }}{% if article.name != 'Vinyle' %} (cd) {% endif %}- {{ article.price }}&euro;">
          </form>
        </div>
        {% endif %}
        {% if article.demat-link %}
        <div>
            <a href="{{ article.demat-link }}" class="shop-link" target="_blank">{{ article.name }} (Digital)</a>
        </div> 
        {% endif %}
    </div>
    {% endfor %}

  </div>

  <div class="wrapper centered-wrapper">
    <h2 class="subtitle">EP</h2>
    {% for article in site.data.shop.ep %}
    <div class="shop-article">
      <img class="shop-picture" src="/assets/pictures/{{article.picture}}">
        {% if article.price %}
        <div>
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
          
            <!-- Identify your business so that you can collect the payments. -->
            <input type="hidden" name="business" value="yann@cottonbellys.com">
          
            <!-- Specify a Buy Now button. -->
            <input type="hidden" name="cmd" value="_xclick">
          
            <!-- Specify details about the item that buyers will purchase. -->
            <input type="hidden" name="item_name" value="{{ article.name }}">
            <input type="hidden" name="amount" value="{{ article.price }}">
            <input type="hidden" name="currency_code" value="EUR">
          
            <!-- Display the payment button. -->
            <input class="shop-link-button"
                   type="submit" 
                   name="submit" 
                   border="0"
                   value="{{ article.name }} (cd) - {{ article.price }}&euro;">
          </form>
        </div>
        {% endif %}
        {% if article.demat-link %}
        <div>
            <a href="{{ article.demat-link }}" class="shop-link" target="_blank">{{ article.name }} (Digital)</a>
        </div> 
        {% endif %}
    </div>
    {% endfor %}

  </div>

  <div class="wrapper centered-wrapper">
    <h2 class="subtitle">Merchandising</h2>
    {% for article in site.data.shop.merch %}
    <div class="shop-article">
      <img class="shop-picture" src="/assets/pictures/{{article.picture}}">
        {% if article.price %}
        <div>
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
          
            <!-- Identify your business so that you can collect the payments. -->
            <input type="hidden" name="business" value="yann@cottonbellys.com">
          
            <!-- Specify a Buy Now button. -->
            <input type="hidden" name="cmd" value="_xclick">
          
            <!-- Specify details about the item that buyers will purchase. -->
            <input type="hidden" name="item_name" value="{{ article.name }}">
            <input type="hidden" name="amount" value="{{ article.price }}">
            <input type="hidden" name="currency_code" value="EUR">
          
            <!-- Display the payment button. -->
            <input class="shop-link-button"
                   type="submit" 
                   name="submit" 
                   border="0"
                   value="{{ article.name }} - {{ article.price }}&euro;">
          </form>
        </div>
        {% endif %}
    </div>
    {% endfor %}

  </div>
