---
layout: page
title: BOUTIQUE
permalink: /shop/
lang: fr
---


  <div class="wrapper centered-wrapper">
    <h2 class="subtitle">Albums</h2>
    {% for article in site.data.shop.albums %}
    <div class="shop-article">
     
      <img class="shop-picture" src="/assets/pictures/{{article.picture}}">
      <div>{{ article.name }}</div>
      <ul>
        {% if article.demat-link %}
        <li>
          <a href="{{ article.demat-link }}" class="shop-link" target="_blank">Dématérialisé</a>
        </li>
        {% endif %}
        {% if article.price %}
        <li>
          <a href="" class="shop-link" target="_blank">{{ name }} ({{ article.price }}&euro;)</a>
        </li>
        {% endif %}
      </ul> 
    </div>
    {% endfor %}

  </div>

  <div class="wrapper centered-wrapper">
    <h2 class="subtitle">EP</h2>
    {% for article in site.data.shop.ep %}
    <div class="shop-article">
     
      <img class="shop-picture" src="/assets/pictures/{{article.picture}}">
      <div>{{ article.name }}</div>
      <ul>
        {% if article.demat-link %}
        <li>
          <a href="{{ article.demat-link }}" class="shop-link" target="_blank">Dématérialisé</a>
        </li>
        {% endif %}
        {% if article.price %}
        <li>
          <a href="" class="shop-link" target="_blank">{{ name }} ({{ article.price }}&euro;)</a>
        </li>
        {% endif %}
      </ul> 
    </div>
    {% endfor %}

  </div>

  <div class="wrapper centered-wrapper">
    <h2 class="subtitle">Merchandising</h2>
    {% for article in site.data.shop.merch %}
    <div class="shop-article">
     
      <img class="shop-picture" src="/assets/pictures/{{article.picture}}">
      <div>{{ article.name }}</div>
      <ul>
        {% if article.demat-link %}
        <li>
          <a href="{{ article.demat-link }}" class="shop-link" target="_blank">Dématérialisé</a>
        </li>
        {% endif %}
        {% if article.price %}
        <li>
          <a href="" class="shop-link" target="_blank">{{ name }} ({{ article.price }}&euro;)</a>
        </li>
        {% endif %}
      </ul> 
    </div>
    {% endfor %}

  </div>
